#wrapper {
  margin-top: 90px;
  background-color: #191b1d;
}
#wrapper .menu1 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 30px;
  background-color: #191b1d;
  color: #fff;
  z-index: 10;
}
#wrapper .menu1 h1 img {
  width: 100%;
}
#wrapper .menu1 .main_menu {
  display: flex;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
#wrapper .menu1 .main_menu li {
  padding: 0 40px;
  color: #fff;
}
#wrapper .menu1 .main_menu li:hover {
  color: #ccc;
}
#wrapper .membermenu {
  display: flex;
  justify-content: space-between;
}
#wrapper .membermenu li {
  cursor: pointer;
  padding: 0 10px;
}
#wrapper .membermenu li:hover {
  color: #ccc;
}

#container {
  background-color: #191b1d;
}
#container .inner_container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#container .wrap1 {
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 1600px;
  margin: 0 auto;
}
#container .wrap1 .head {
  color: #fff;
  position: absolute;
  top: 170px;
  left: 180px;
  font-size: 45px;
  z-index: 1;
}
#container .wrap1 .head_bg {
  width: 100%;
  height: 55vh;
}
#container .wrap1 .head_bg img {
  width: 100%;
  margin-top: 20px;
}
#container .wrap1 .head1 {
  position: absolute;
  top: 490px;
  left: 160px;
  color: gray;
  font-size: 20px;
}
#container .wrap1 .head1 p span {
  padding: 0 20px;
}
#container .wrap2 {
  width: 100%;
  height: 70vh;
  position: relative;
}
#container .wrap2 .text_background {
  float: right;
}
#container .wrap2 .first_text_wrap {
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(0, -40%);
  font-size: 40px;
}
#container .wrap2 .first_text_wrap h3 {
  font-size: 40px;
  padding-bottom: 50px;
}
#container .wrap3 {
  width: 100%;
  height: 70vh;
  position: relative;
}
#container .wrap3 .spec {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
#container .wrap3 .spec h3 {
  font-size: 45px;
  padding-bottom: 50px;
}
#container .wrap3 .spec p {
  font-size: 22px;
}
#container .wrap4 {
  width: 100%;
  height: 100vh;
}
#container .wrap4 .sudden_attack_character {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container .wrap4 .sudden_attack_character .c_text_inner {
  padding: 100px 0;
  color: #fff;
}
#container .wrap4 .sudden_attack_character .c_text_inner h3 {
  font-size: 45px;
  margin-bottom: 20px;
}
#container .wrap4 .sudden_attack_character .c_text_inner p {
  font-size: 20px;
  line-height: 1.5;
}
#container .wrap4 .sudden_attack_character .c_image {
  display: flex;
  justify-content: center;
}
#container .wrap5 {
  height: 70vh;
  width: 50vw;
}
#container .wrap5 iframe {
  width: 100%;
}