.newscss {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  .newsitem {
    display: flex;
    flex-flow: column;
    align-items: center;
    .newsimg {
      width: 400px;
      height: 22em;
    }
    h4 {
      font-size: 20px;
    }
    h3 {
      font-size: 14px;
      font-style: italic;
    }
    .newstit {
      font-size: 16px;
    }
    .newsdesc {
      font-size: 14px;
    }
  }
}
