.newscss {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  .newsitem {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    div {
      width: 48%;
      height: 100%;
      .imgcover {
        width: 100%;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.1);
            transition: transform 0.3s;
          }
        }
      }
      h4 {
        font-size: 14px;
      }
      h3 {
        font-size: 14px;
        font-style: italic;
        color: #aeaeae;
      }
      .newstit {
        font-size: 18px;
        width: 100%;
        margin: 5px 0;
      }
      .newsdesc {
        font-size: 16px;
        width: 100%;
        margin-bottom: 50px;
        color: #999;
      }
    }
  }
}
