* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ChosunKg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff")
    format("woff");
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
