#wrapper {
  margin-top: 90px;
  background-color: #191b1d;
}
#wrapper #container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#wrapper #container .hed {
  color: #fff;
  position: absolute;
  top: 250px;
  left: 300px;
  font-size: 45px;
}
#wrapper #container .subpage {
  width: 1600px;
  height: 55vh;
}
#wrapper #container .subpage img {
  width: 100%;
  margin-top: 20px;
}
#wrapper #container .hed1 {
  position: absolute;
  top: 550px;
  left: 300px;
  color: gray;
  font-size: 20px;
}
#wrapper #container .hed1 span {
  padding: 0 20px;
}
#wrapper #container .first_text {
  position: relative;
  left: 150px;
}
#wrapper #container .text_background {
  margin: 270px;
  height: 40vh;
}
#wrapper #container .first_text_wrap {
  color: #fff;
  position: absolute;
  top: 200px;
  font-size: 40px;
}
#wrapper #container .second_text {
  position: relative;
  right: 130px;
}
#wrapper #container .spec {
  color: #fff;
  position: absolute;
  top: 200px;
  left: 550px;
}
#wrapper #container .spec h3 {
  font-size: 45px;
  padding-bottom: 50px;
}
#wrapper #container .spec p {
  font-size: 22px;
}
#wrapper #container .sudden_attack_character {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#wrapper #container .sudden_attack_character .c_text_inner {
  padding: 100px 0;
  color: #fff;
}
#wrapper #container .sudden_attack_character .c_text_inner h3 {
  font-size: 45px;
  padding-bottom: 20px;
}
#wrapper #container .sudden_attack_character .c_text_inner p {
  font-size: 20px;
}
#wrapper #container .sudden_attack_character .c_image {
  position: relative;
  left: 150px;
}
#wrapper #container .iframe_wrap {
  position: relative;
  left: 300px;
  width: 90vh;
  height: 620px;
}
#wrapper #container .iframe_wrap iframe {
  width: 100%;
}
#wrapper .bottom_slider {
  height: 500px;
}
#wrapper .bottom_slider .swiper-wrapper {
  display: flex;
}
#wrapper .bottom_slider .swiper-wrapper .b_slide {
  width: 100%;
}
#wrapper .bottom_slider .swiper-wrapper .b_slide img {
  width: 100%;
}
#wrapper .bottom_slider .swiper-button-next {
  position: absolute;
  left: 1250px;
  bottom: 100px;
}
#wrapper .bottom_slider .swiper-button-next:active ._slide {
  transform: translateX(100px);
}
#wrapper .bottom_slider .swiper-button-prev {
  position: absolute;
  cursor: pointer;
  left: 750px;
  bottom: 100px;
}
#wrapper .bottom_slider .swiper-button-prev:active ._slide {
  transform: translateX(-100px);
}