#login{
    width: 100%;
    height: 80vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    h2{
        margin-top:150px;
        height: 50px;
        font-size: 35px;
        text-align: center;
        margin-bottom: 15px;
    }
    .inner{
        display: flex;
        width: 1000px;
        background-color: #fff;
        height: 500px;
        flex-direction: column;
        border-top: 3px solid #858585;
        p{
            font-size: 14px;
            color: #535353;
        }
        .top{
            width: 50%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        .idps{
            color: #7d7d7d;
            font-size: 12px;
            font-weight: 600;
        }
        .find{
            display: flex;
            justify-content: right;
        }
        span{
            padding:0 15px;
            font-size: 13px;
            &:hover{
                color: #1890FF;
            }

        }
        .btns{
            display: flex;
            flex-direction: column;
        }
        button{
            background-color: #1890FF;
            border-style: none;
            margin: 5px 0;
            width: 450px;
            height: 40px;
            color:#fff;
            font-size: 15px;
            cursor: pointer;
            border-radius: 3px;
            &:hover{
                background-color:#50a4f3;
            }
            &:active{
                background-color: #1472ca;
            }
        }
        input{
            width: 450px;
            height: 40px;
            border-radius: 8px;
            outline: none;
            margin-top: 10px;
            margin-bottom:20px;
            border: 1px solid #C2C9D1;
            background-color: #fff;
            &:focus{
                border:1px solid #1890FF;
            }
        }
    }
}
