#media {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 150px auto;
  h2 {
    font-size: 50px;
  }
  .select {
    margin-top: 50px;
    .selectmenu {
      display: flex;
      border: 1px solid #eee;
      justify-content: space-between;
      width: 1500px;
      height: 50px;
      align-items: center;
      background-color: #e0e0e0;
      li {
        padding: 0 30px;
      }
    }
  }
}
